{% load qr_code_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Привет, {{ user.username }}!</p>
    {% if unique_id %}
        <img src="{{ unique_id|qr_code_filter }}" alt="QR Code">
    {% endif %}
    <a href="{% url 'logout' %}" onclick="return confirm('Вы действительно хотите выйти?');">Выйти</a>
    
    <!-- Отображение товаров -->
    <h2>Товары:</h2>
    {% include 'main/products.html' %}
    
    <!-- Отображение статистики -->
    <h2>Статистика:</h2>
    {% include 'main/statistics.html' %}
</body>
</html>