<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <p>Скидка: {{ product.discount }}%</p>
                <img src="{{ product.image }}" alt="{{ product.title }}">
            </li>
        {% empty %}
            <li>Нет доступных продуктов.</li>
        {% endfor %}
    </ul>
</body>
</html>